<%- include("partials/header.ejs") %>
<h1>About Me</h1>
<img class="profile" src="images/self.jpg" alt="profile">
<p>
  Hello, I'm Shivansh Singh, currently in my second year of undergraduate studies at National Institute of Technology Hamirpur. My passion lies in the fascinating world of web development. As I continue my educational journey, I've been focusing on expanding my understanding and proficiency in building interactive, effective websites. The joy I derive from learning is a driving force as I traverse the dynamic landscape of web development, continuously exploring new technologies, frameworks, and coding techniques. Beyond the confines of my coursework, I frequently immerse myself in personal projects and collaborations, applying theoretical concepts to practical, real-world scenarios. I truly believe that there's no hurdle too great if one has the passion and the grit to overcome it. As a budding developer, I am ready and excited for the challenges and learning experiences that lie ahead.</p>
  <%- include("partials/footer.ejs") %>